/* body default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary-color);
}
html {
  font-size: 62.5%;
}
/* root  */
:root {
  --nav-text-clr: #313199;
  --nav-hover-clr: #ffa500;
  --text-clr: #313199;
  --h2-size: 2.4rem;
  --text-size: 1.5rem;
  --margin: 4rem;
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --div-width: 80vw;
  --div-font-size: 2.2rem;
  --scroll-hover: #5454ba;
  --font: HP Simplified Hans;
  --skills-font: 4rem;
}
.dark-theme {
  --primary-color: #000000;
  --secondary-color: #ffff;
  --text-clr:rgb(196, 196, 196);
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-clr);
  border-radius: 20px;
  border: 0.5rem solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
  border-radius: 20px;
  border: 0.5rem solid transparent;
}
/* navbar */
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  background-color: var(--primary-color);
  border-bottom: 1px solid whitesmoke;
}
li {
  list-style: none;
  transition: all 0.7s ease;
}
li:hover {
  color: var(--nav-hover-clr);
}
a {
  text-decoration: none;
  color: var(--nav-text-clr);
}
.navbar_div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: var(--text-size);
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: var(--font);
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
#icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
/* section */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* home section */
.home_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.home_image {
  overflow: hidden;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
.home_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image_index:before {
  content: "";
  background: linear-gradient(#8e2de2, #4a00e2);
  position: absolute;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  z-index: -1;
}
.home_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--h2-size);
  height: 100%;
  width: 40%;
  font-family: var(--font);
  color: var(--text-clr);
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
/* about section */
.about_flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--div-width);
  gap: 4rem;
  font-size: var(--div-font-size);
  font-family: var(--font);
  color: var(--text-clr);
  line-height: 3rem;
}
.about_heading {
  font-size: var(--h2-size);
  font-weight: 600;
  text-align: center;
}

.know_more a {
  color: var(--nav-hover-clr);
}
/* skills section */
.skills_flex {
  /* display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 20vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--div-width);
  /* max-height: 40vh; */
  font-family: var(--font);
  color: var(--text-clr);
}
.skills_heading {
  font-size: var(--h2-size);
  font-weight: 600;
  text-align: center;
  color: var(--text-clr);
}
.skills_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills_content_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
}
.content_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.skill_icon {
  text-align: center;
  padding: 4rem;
}
#icon {
  font-size: var(--skills-font);
}
/* projects Section */
.projects_flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--div-width);
  font-family: var(--font);
  gap: 4rem;
}
#image {
  width: 300px;
  height: 200px;
  cursor: pointer;
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  z-index: -1;
}

.image_content {
  color: #5454ba;
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  font-size: 1.3rem;
  gap: 1rem;
  padding: 1rem;
}
.image_content h2 {
  margin-bottom: 0.5rem;
}

.projects_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.projects_content_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
#proj_icon {
  font-size: 15px;
}

/* contact section */
.contact_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: var(--h2-size);
  gap: 3rem;
  color: var(--text-clr);
  font-family: var(--font);
}
.con_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

button {
  padding: 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--nav-hover-clr);
  border: none;
  font-size: 2rem;
}
button:hover{
  
  background-color:  #c68204;;

}
button a {
  color: var(--primary-color);
}
/* media queries */
@media (max-width: 500px) {
  .contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
    gap: 3rem;
    color: var(--text-clr);
    font-family: var(--font);
  }
  .con_links {
   font-size: 2rem;
  }
  .image_content {
    margin-bottom: 10px;
  }
  .skills_content_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .projects_content_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  #icon {
    font-size: 3rem;
  }
  .about_flex {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
  }
  .skills_flex {
    margin-top: 4rem;
  }
  .projects_flex {
    margin-top: 4rem;
  }
  .home_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    height: 100%;
    width: 90%;
  }
  .home_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .home_image {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .home_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image_index:before {
    content: "";
    background-color: var(--nav-text-clr);
    position: absolute;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    z-index: -1;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 4rem;
  }
  .bar {
    background: linear-gradient(#8e2de2, #4a00e2);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar_div {
    position: fixed;
    left: -100%;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;
    padding: 3rem;
    border-radius: 20px;
    border: 3px solid black;
  }
  .navbar_div.active {
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
